<p><b>Module ID:</b> <%= @student_question.module_id %></p>
<p><b>Coursework ID:</b> <%= @student_question.coursework_id %></p>
<p><b>Question:</b> <%= @student_question.text %></p>
<p>________________________</p>
<p><i>Reply to this email without altering its subject or recipients with a plaintext answer to the question.</i></p>
